---
import pokemonStudio from "../../assets/project/pokemon-studio.png";
import todaysflagLogo from "../../assets/project/todays-flag.png";
import electronLogo from "../../assets/technos/electron.svg";
import mysqlLogo from "../../assets/technos/mysql.svg";
import nextjsLogo from "../../assets/technos/nextjs.svg";
import prismaLogo from "../../assets/technos/prisma.svg";
import reactLogo from "../../assets/technos/react.svg";
import typescriptLogo from "../../assets/technos/typescript.svg";
import TechTag from "../TechTag.astro";
import type { Language } from "../../i18n/config";
import githubLogo from "../../assets/github.svg";

interface Props {
  lang: Language;
  translations: any;
}

const { lang, translations } = Astro.props;
const t = translations.project;
---

<section id="project">
  <div class="project__wrapper">
    <h2 class="project__title" data-reveal="up">
      <span>{t.title}</span>
    </h2>
    <div class="project__content">
      <!-- Pokemon Studio Project -->
      <div class="project__item" data-reveal="left" data-reveal-delay="1">
        <div class="project__item__col-left">
          <img src={pokemonStudio.src} alt="Pokemon Studio" />
        </div>
        <div class="project__item__col-right">
          <h3 class="project__item-title">{t.items.pokemonStudio.title}</h3>
          <p class="project__item-description">
            {t.items.pokemonStudio.description} <span class="highlighted highlighted-red"
              >{t.items.pokemonStudio.highlighted1}</span
            > {t.items.pokemonStudio.descriptionMiddle} <span
              class="highlighted highlighted-red">{t.items.pokemonStudio.highlighted2}</span
            > {t.items.pokemonStudio.descriptionEnd}
          </p>
          <div class="project__item__tags">
            <TechTag
              name="Electron"
              logo={electronLogo}
              url="https://www.electronjs.org/"
              className="project__item__tags-tag"
            />
            <TechTag
              name="React"
              logo={reactLogo}
              url="https://react.dev/"
              className="project__item__tags-tag"
            />
            <TechTag
              name="TypeScript"
              logo={typescriptLogo}
              url="https://www.typescriptlang.org/"
              className="project__item__tags-tag"
            />
          </div>
          <a
            class="project__item-cta"
            href="https://github.com/PokemonWorkshop/PokemonStudio"
            target="_blank"
            rel="noopener noreferrer"
            draggable="false"
          >
            <img
              src={githubLogo.src}
              alt={t.githubAlt}
            />
            <span>{t.items.pokemonStudio.cta}</span>
          </a>
        </div>
      </div>

      <!-- Today's Flag Project -->
      <div class="project__item" data-reveal="right" data-reveal-delay="2">
        <div class="project__item__col-left">
          <img src={todaysflagLogo.src} alt="Today's Flag" />
        </div>
        <div class="project__item__col-right">
          <h3 class="project__item-title">{t.items.todaysFlag.title}</h3>
          <p class="project__item-description">
            {t.items.todaysFlag.description} <span class="highlighted highlighted-red"
              >{t.items.todaysFlag.highlighted1}</span
            > {t.items.todaysFlag.descriptionMiddle}
            <span class="highlighted highlighted-red">{t.items.todaysFlag.highlighted2}</span>{t.items.todaysFlag.descriptionEnd}
          </p>
          <div class="project__item__tags">
            <TechTag
              name="MySQL"
              logo={mysqlLogo}
              url="https://www.mysql.com/"
              className="project__item__tags-tag"
            />
            <TechTag
              name="Next.js"
              logo={nextjsLogo}
              url="https://nextjs.org/"
              className="project__item__tags-tag"
            />
            <TechTag
              name="Prisma"
              logo={prismaLogo}
              url="https://www.prisma.io/"
              className="project__item__tags-tag"
            />
            <TechTag
              name="React"
              logo={reactLogo}
              url="https://react.dev/"
              className="project__item__tags-tag"
            />
            <TechTag
              name="TypeScript"
              logo={typescriptLogo}
              url="https://www.typescriptlang.org/"
              className="project__item__tags-tag"
            />
          </div>
          <a
            class="project__item-cta"
            href="https://github.com/Karbbone/TodaysFlag"
            target="_blank"
            rel="noopener noreferrer"
            draggable="false"
          >
            <img
              src={githubLogo.src}
              alt={t.githubAlt}
            />
            <span>{t.items.todaysFlag.cta}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
