---
import pokemonStudio from "../../assets/project/pokemon-studio.png";
import todaysflagLogo from "../../assets/project/todays-flag.png";
import electronLogo from "../../assets/technos/electron.svg";
import mysqlLogo from "../../assets/technos/mysql.svg";
import nextjsLogo from "../../assets/technos/nextjs.svg";
import prismaLogo from "../../assets/technos/prisma.svg";
import reactLogo from "../../assets/technos/react.svg";
import typescriptLogo from "../../assets/technos/typescript.svg";
---

<section id="project">
  <div class="project__wrapper">
    <h2 class="project__title">
      <span>Mes projets</span>
    </h2>
    <div class="project__content">
      <div class="project__item">
        <div class="project__item__col-left">
          <img src={pokemonStudio.src} />
        </div>
        <div class="project__item__col-right">
          <h3 class="project__item-title">Pokemon Studio</h3>
          <p class="project__item-description">
            Pokémon Studio est une application web open source qui permet de
            créer son propre jeu Pokémon. Cet outil est totalement modulable, ce
            qui permet à l'utilisateur de créer un jeu Pokémon unique. Je
            contribue sur mon temps libre au projet avec une équipe distribuée
            suivant une méthodologie agile (Scrumban) adaptée au contexte
            projet, réunion de sprint et répartition des tâches.
          </p>
          <div class="project__item__tags">
            <a
              href={""}
              target="_blank"
              rel="noopener noreferrer"
              class="project__item__tags-tag"
            >
              <img src={electronLogo.src} alt="Electron" />
              Electron
            </a>
            <a
              href={""}
              target="_blank"
              rel="noopener noreferrer"
              class="project__item__tags-tag"
            >
              <img src={reactLogo.src} alt="React" />
              React
            </a>
            <a
              href={""}
              target="_blank"
              rel="noopener noreferrer"
              class="project__item__tags-tag"
            >
              <img src={typescriptLogo.src} alt="Typescript" />
              Typescript
            </a>
          </div>
          <a class="project__item-cta">
            <img
              src="https://www.svgrepo.com/show/512317/github-142.svg"
              alt="GitHub Logo"
            />
            <span>Code Source</span>
          </a>
        </div>
      </div>
      <div class="project__item">
        <div class="project__item__col-left">
          <img src={todaysflagLogo.src} />
        </div>
        <div class="project__item__col-right">
          <h3 class="project__item-title">Today's Flag</h3>
          <p class="project__item-description">
            Today's Flag est une application web qui permet chaque jour de
            tenter de deviner le pays caché derrière un drapeau. Cela permet de
            retenir plus facilement les drapeaux de tous les pays du monde. J’ai
            réalisé cette application avec Next.js afin d’expérimenter le
            framework.
          </p>
          <div class="project__item__tags">
            <a
              href={""}
              target="_blank"
              rel="noopener noreferrer"
              class="project__item__tags-tag"
            >
              <img src={mysqlLogo.src} alt="MySQL" />
              MySQL
            </a>
            <a
              href={""}
              target="_blank"
              rel="noopener noreferrer"
              class="project__item__tags-tag"
            >
              <img src={nextjsLogo.src} alt="Next" />
              Next
            </a>
            <a
              href={""}
              target="_blank"
              rel="noopener noreferrer"
              class="project__item__tags-tag"
            >
              <img src={prismaLogo.src} alt="Prisma" />
              Prisma
            </a>
            <a
              href={""}
              target="_blank"
              rel="noopener noreferrer"
              class="project__item__tags-tag"
            >
              <img src={reactLogo.src} alt="React" />
              React
            </a>
            <a
              href={""}
              target="_blank"
              rel="noopener noreferrer"
              class="project__item__tags-tag"
            >
              <img src={typescriptLogo.src} alt="Typescript" />
              Typescript
            </a>
          </div>
          <a class="project__item-cta">
            <img
              src="https://www.svgrepo.com/show/512317/github-142.svg"
              alt="GitHub Logo"
            />
            <span>Code Source</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
