---
import TechTag from "./TechTag.astro";
import githubLogo from "../assets/github.svg";

export interface Props {
  title: string;
  description: string;
  image: ImageMetadata;
  technologies: {
    name: string;
    logo: ImageMetadata;
    url: string;
  }[];
  githubUrl: string;
}

const { title, description, image, technologies, githubUrl } = Astro.props;
---

<div class="project__item">
  <div class="project__item__col-left">
    <img src={image.src} alt={title} />
  </div>
  <div class="project__item__col-right">
    <h3 class="project__item-title">{title}</h3>
    <p class="project__item-description">
      {description}
    </p>
    <div class="project__item__tags">
      {
        technologies.map((tech) => (
          <TechTag
            name={tech.name}
            logo={tech.logo}
            url={tech.url}
            className="project__item__tags-tag"
          />
        ))
      }
    </div>
    <a
      class="project__item-cta"
      href={githubUrl}
      target="_blank"
      rel="noopener noreferrer"
      draggable="false"
    >
      <img
        src={githubLogo.src}
        alt="GitHub Logo"
      />
      <span>Code Source</span>
    </a>
  </div>
</div>
