---
import TechTag from "./TechTag.astro";

export interface Props {
  company: {
    name: string;
    logo: ImageMetadata;
    website: string;
  };
  position: string;
  dateRange: string;
  isCurrentJob?: boolean;
  tasks: string[];
  technologies: {
    name: string;
    logo: ImageMetadata;
    url: string;
  }[];
}

const {
  company,
  position,
  dateRange,
  isCurrentJob = false,
  tasks,
  technologies,
} = Astro.props;
---

<article class="work__content__item">
  <header class="work__content__item__header">
    <!-- lazy loading -->
    <img src={company.logo.src} alt={company.name} />
  </header>

  <div class="work__content__item__body">
    <!-- Le titre fait parti du header en vrai, mais à voir -->
    <h3 class="work__content__item__body__title">
      {position}
    </h3>

    <!-- T'es en train de chier sur BEM à mettre des __ partout, c'est un seul Block, et après tu peux faire plusieurs éléments si tu veux -->
    <span class="work__content__item__body__date">
      {
        isCurrentJob ? (
          <>
            {dateRange} -{" "}
            <span class="work__content__item__body__date-highlight">
              Maintenant
            </span>
          </>
        ) : (
          dateRange
        )
      }
    </span>
    <ul>
      {tasks.map((task) => <li>{task}</li>)}
    </ul>
  </div>

  <footer class="work__content__item__footer">
    <h3>Technologies</h3>
    <div class="work__content__item__footer__tags">
      {
        technologies.map((tech) => (
          <TechTag
            name={tech.name}
            logo={tech.logo}
            url={tech.url}
            className="work__content__item__footer__tags-tag"
          />
        ))
      }
    </div>
    <a
      href={company.website}
      target="_blank"
      rel="noopener noreferrer"
      class="work__content__item__footer-button"
      draggable="false"
    >
      Site de l'entreprise
    </a>
  </footer>
</article>
